# Tools / dev / testing

# Linting
flake8
flake8-tidy-imports
mccabe
pylint

# Testing
pytest
pytest-cov
tox

# Doc
sphinx
sphinx_rtd_theme

# Formatting
isort

# Other
PrettyTable
gprof2dot
pip-tools
py-cpuinfo
