include *.rst *.txt *.ini *.py *.cfg *.yml *.html *.in
recursive-include src/front/src *
recursive-include src/front/templates *
recursive-include src/front/static *
recursive-exclude src/node_modules *
prune .git
