include *.rst *.txt *.ini *.py *.cfg *.yml *.html *.in
recursive-include front/src *
recursive-include front/templates *
recursive-include front/static *
recursive-exclude front/node_modules *
prune .git
