olapy
#-e git+https://github.com/abilian/olapy.git#egg=olapy

# Web
flask
Flask-Login
Flask-Migrate
Flask-SQLAlchemy
Flask-WTF
SQLAlchemy<1.2
WTForms
plotly

# Misc
typing
pathlib

#DB_Tools
psycopg2-binary
