olapy
#-e git+https://github.com/abilian/olapy.git#egg=olapy
#pip -e @ https://github.com/abilian/olapy-web/archive/master.zip
# Web
flask
Flask-Login
Flask-Migrate
Flask-SQLAlchemy
Flask-WTF
SQLAlchemy<1.2
WTForms
#plotly

# Misc
typing
pathlib
pyyaml>=4.2b1

#DB_Tools
psycopg2-binary
