olapy
#-e git+https://github.com/abilian/olapy.git#egg=olapy

# Web
flask
Flask-Login
Flask-Migrate
Flask-SQLAlchemy
Flask-WTF
SQLAlchemy
WTForms

# Misc
typing
pathlib
pyyaml>=5

#DB_Tools
psycopg2-binary
