
<!DOCTYPE html>
<html>
    <head>
        <title>PivotTable.js</title>

        <!-- external libs from cdnjs -->
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.css">
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-csv/0.71/jquery.csv-0.71.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.js"></script>

        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/pivottable/1.6.3/pivot.min.css">
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pivottable/1.6.3/pivot.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pivottable/1.6.3/d3_renderers.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pivottable/1.6.3/c3_renderers.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pivottable/1.6.3/export_renderers.min.js"></script>

        <style>
            body {font-family: Verdana;}
            .node {
              border: solid 1px white;
              font: 10px sans-serif;
              line-height: 12px;
              overflow: hidden;
              position: absolute;
              text-indent: 2px;
            }
            .c3-line, .c3-focused {stroke-width: 3px !important;}
            .c3-bar {stroke: white !important; stroke-width: 1;}
            .c3 text { font-size: 12px; color: grey;}
            .tick line {stroke: white;}
            .c3-axis path {stroke: grey;}
            .c3-circle { opacity: 1 !important; }
        </style>
    </head>
    <body>
        <script type="text/javascript">
            $(function(){
                if(window.location != window.parent.location)
                    $("<a>", {target:"_blank", href:""})
                        .text("[Full Screen]").prependTo($("body"));

                $("#output").pivotUI(
                    $.csv.toArrays($("#output").text()),
                    {
                        renderers: $.extend(
                            $.pivotUtilities.renderers,
                            $.pivotUtilities.c3_renderers,
                            $.pivotUtilities.d3_renderers,
                            $.pivotUtilities.export_renderers
                            ),
                        hiddenAttributes: [""]
                    }
                ).show();
             });
        </script>
        <div id="output" style="display: none;">,Month,City,Sub_Category,average_sales_M,Average Spent By Person,Continent,Country,Company,Category,Year,Quarter
0,Novemver 2015,Madrid,jackets,110,84,Europe,Spain,zara,Clothing/accessories,2015,Q4 2015
1,Novemver 2015,Paris,jackets,300,100,Europe,France,zara,Clothing/accessories,2015,Q4 2015
2,Novemver 2015,Barcelona,shirts,190,141,Europe,Spain,h&m,Clothing/accessories,2015,Q4 2015
3,Novemver 2015,Paris,Playstation,400,300,Europe,France,Amazon,Game,2015,Q4 2015
4,Novemver 2015,Paris,Playstation,400,300,Europe,France,Amazon,Game,2015,Q4 2015
5,Novemver 2015,Paris,Playstation,400,300,Europe,France,Amazon,Game,2015,Q4 2015
6,Novemver 2015,Paris,Playstation,400,300,Europe,France,Amazon,Game,2015,Q4 2015
7,Novemver 2015,Los Angeles,Playstation,422,250,America,United States,Amazon,Game,2015,Q4 2015
8,Novemver 2015,Paris,Kids_game,200,100,Europe,France,Toys R Us,Game,2015,Q4 2015
9,Novemver 2015,New York,Kids_game,432,153,America,United States,Toys R Us,Game,2015,Q4 2015
10,Novemver 2015,Lausanne,Washer,220,231,Europe,Switzerland,Amazon,Household items,2015,Q4 2015
11,Novemver 2015,Lausanne,Washer,90,265,Europe,Switzerland,Amazon,Household items,2015,Q4 2015
12,Novemver 2015,Lausanne,TV,120,365,Europe,Switzerland,Amazon,Tech/electronics,2015,Q4 2015
13,Novemver 2015,New York,TV,512,403,America,United States,Amazon,Tech/electronics,2015,Q4 2015
14,Novemver 2015,Zurich,Other,164,500,Europe,Switzerland,Walmart,Other,2015,Q4 2015
15,Novemver 2015,Geneva,Fridge,128,230,Europe,Switzerland,Amazon,Household items,2015,Q4 2015
16,Novemver 2015,New York,Iphone,799,380,America,United States,Apple,Tech/electronics,2015,Q4 2015
17,Novemver 2014,Madrid,jackets,90,72,Europe,Spain,zara,Clothing/accessories,2014,Q4 2014
18,Novemver 2014,Paris,jackets,200,95,Europe,France,zara,Clothing/accessories,2014,Q4 2014
19,Novemver 2014,Barcelona,shirts,140,105,Europe,Spain,h&m,Clothing/accessories,2014,Q4 2014
20,Novemver 2014,Paris,Playstation,450,200,Europe,France,Amazon,Game,2014,Q4 2014
21,Novemver 2014,Los Angeles,Playstation,466,231,America,United States,Amazon,Game,2014,Q4 2014
22,Novemver 2014,Paris,Kids_game,240,80,Europe,France,Toys R Us,Game,2014,Q4 2014
23,Novemver 2014,New York,Kids_game,332,103,America,United States,Toys R Us,Game,2014,Q4 2014
24,Novemver 2014,Lausanne,Washer,200,175,Europe,Switzerland,Amazon,Household items,2014,Q4 2014
25,Novemver 2014,Lausanne,Washer,100,245,Europe,Switzerland,Amazon,Household items,2014,Q4 2014
26,Novemver 2014,Lausanne,TV,120,235,Europe,Switzerland,Amazon,Tech/electronics,2014,Q4 2014
27,Novemver 2014,New York,TV,500,303,America,United States,Amazon,Tech/electronics,2014,Q4 2014
28,Novemver 2014,Zurich,Other,130,440,Europe,Switzerland,Walmart,Other,2014,Q4 2014
29,Novemver 2014,Geneva,Fridge,111,220,Europe,Switzerland,Amazon,Household items,2014,Q4 2014
30,Novemver 2014,New York,Iphone,509,420,America,United States,Apple,Tech/electronics,2014,Q4 2014
</div>
    </body>
</html>
