{% extends "base.html" %}

{% block title %}
    Schema Designer
{% endblock %}

{% block header %}
    <link href="{{ url_for('static',filename='css/designer.css') }}" rel="stylesheet">
{% endblock %}

{% block stats %}

    <div class="cubes_options">

        <input type="button" value="add schema">

    </div>

    <div class="cubes_box">
        <ul style="margin-left: -20px; margin-top: 10px">


            {% for user_cube in user_cubes %}

                <li>{{ user_cube }}</li>

            {% endfor %}
        </ul>

    </div>


    <div class="cubes_props">
        props
    </div>


{% endblock %}
