<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="images2/favicon.png">
    <title>Ela - Bootstrap Admin Dashboard Template</title>
    <!-- Bootstrap Core CSS -->
    <link href="{{ url_for('static',filename='css/lib/bootstrap/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',filename='css/helper.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',filename='css/style.css') }}" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js2 IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js2 doesn't work if you view the page via file:** -->
    <!--[if lt IE 9]>
    <script src="https:**oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js2"></script>
    <script src="https:**oss.maxcdn.com/libs/respond.js2/1.4.2/respond.min.js2"></script>
<![endif]-->
</head>

<body class="fix-header fix-sidebar">
    <!-- Preloader - style you can find in spinners.css2 -->
{#    <div class="preloader">#}
{#        <svg class="circular" viewBox="25 25 50 50">#}
{#			<circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>#}
{#    </div>#}
    <!-- Main wrapper  -->
    <div class="error-page" id="wrapper">
        <div class="error-box">
            <div class="error-body text-center">
                <h1>500</h1>
                <h3 class="text-uppercase">Internal Server Error ! </h3>
                <p class="text-muted m-t-30 m-b-30">Please try after some time</p>
                <a class="btn btn-info btn-rounded waves-effect waves-light m-b-40" href="index.html">Back to home</a> </div>
{#            <footer class="footer text-center">&copy; 2018 Zebramin.</footer>#}
        </div>
    </div>
    <!-- End Wrapper -->
    <!-- All Jquery -->
<script src="http://localhost:8080/static/build.js"></script>
<script src="{{ url_for('static',filename='js/jquery.slimscroll.js') }}"></script>
<script src="{{ url_for('static',filename='js/sidebarmenu.js') }}"></script>
<script src="{{ url_for('static',filename='js/lib/sticky-kit-master/dist/sticky-kit.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/custom.min.js') }}"></script>

</body>

</html>