{% extends "base.html" %}

{% block title %}
    Dashboard
{% endblock %}

{% block page_header %}
    Dashboard
{% endblock %}

{% block header %}

    <link href="{{ url_for('static',filename='css/dash/css/core.css') }}" rel="stylesheet">

    <style>

        th {

            background-color: #31b0d5;
            color: white;
        }
    </style>

{% endblock %}

{% block stats %}
    {#<div class="wrapper">#}
    <div class="container">

        <div class="row">

            <div class="row">

                {% for id in graphs['pie']['graphs']['ids'] %}
                    {% set index = loop.index %}
                    <div style="position: relative;" class="col-sm-4">
                        <div class="card-box widget-box-four">
                            <h4 class="header-title m-t-0 m-b-30">{{ graphs['pie']['tables_names'][index - 1].replace('_',' ').title() }}</h4>


                            <div id="{{ id }}"></div>


                            <div class="wigdet-four-content pull-left">

                                <h3 class="m-b-0 m-t-20"><span>Total : </span> <span
                                        data-plugin="counterup"> {{ graphs['pie']['totals'].values()[index - 1] }}</span>
                                </h3>
                            </div>


                            <div class="clearfix">

                            </div>

                        </div>
                    </div>
                    <!-- end col -->

                {% endfor %}

            </div>
            <!-- end row -->


            <div class="row">
                <div class="col-sm-12">


                    {% for id in graphs['bar']['graphs']['ids'] %}
                        {% set index = loop.index %}
                        <div class="card-box">
                            <h4 class="header-title m-t-0">{{ graphs['bar']['tables_names'][index - 1].replace('_',' ').title() }}</h4>
                            <div class="text-center">

                                <div class="row">

                                    {% for measure,totale in graphs['bar']['totals'].items() %}

                                        <div class="col-xs-4">
                                            <div class="m-t-20 m-b-20">
                                                <h4 class="m-b-10">{{ totale }}</h4>
                                                <p class="text-uppercase m-b-5 font-13 font-600">{{ measure.replace('_',' ').title() }}</p>
                                            </div>
                                        </div>


                                    {% endfor %}

                                </div>
                            </div>
                            <div style="height: 500px; position: relative;">

                                <div id="{{ id }}"></div>

                            </div>
                        </div>
                    {% endfor %}

                    {% for id in graphs['line']['graphs']['ids'] %}
                        {% set index = loop.index %}
                        <div class="card-box">
                            <h4 class="header-title m-t-0">{{ graphs['line']['tables_names'][index - 1].replace('_',' ').title() }}</h4>
                            <div class="text-center">
                                <div class="row">

                                    {% for measure,total in graphs['line']['totals'].items() %}

                                        <div class="col-xs-4">
                                            <div class="m-t-20 m-b-20">
                                                <h4 class="m-b-10">{{ total }}</h4>
                                                <p class="text-uppercase m-b-5 font-13 font-600">{{ measure.replace('_',' ').title() }}</p>
                                            </div>
                                        </div>

                                    {% endfor %}

                                </div>
                            </div>
                            <div style="height: 500px; position: relative;">

                                <div id="{{ id }}"></div>

                            </div>
                        </div>
                    {% endfor %}


                </div><!-- end col -->

            </div>
            <!-- end row -->

        </div>
        <!-- end row -->

        <div class="row">
            <div class="col-sm-12">
                <div class="card-box">
                    <h4 class="m-t-0 header-title"><b>Tableau indicateur</b></h4>
                    {# <p class="text-muted font-14 m-b-20">#}
                    {# Your awesome text goes here.#}
                    {# </p>#}

                    <div class="table-responsive">

                        {{ table_result | safe }}

                    </div>

                </div>

            </div>
        </div>

    </div> <!-- end container -->
    {#</div>#}
    <!-- end wrapper -->


{% endblock %}

{% block js_t %}
    {#<script src="{{ url_for('static',filename='js/plotly-basic.js') }}"></script>#}
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script type="text/javascript">
        {% for graph in graphs.values() %}
            var graph = {{ graph['graphs']['graph_json'] | safe}};
            var graph_ids = {{ graph['graphs']['ids'] | safe }};

            for (var i in graph) {
                Plotly.plot(
                    graph_ids[i], // the ID of the div, created above
                    graph[i].data,
                    graph[i].layout || {});
            }

        {% endfor %}


    </script>


{% endblock %}
