{% extends "base.html" %}

{% block title %}
    Query Builder
{% endblock %}

{% block header %}

    <!-- external libs from cdnjs -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.11/c3.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-csv/0.71/jquery.csv-0.71.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.11/c3.min.js"></script>

    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/pivottable/2.14.0/pivot.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pivottable/2.14.0/pivot.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pivottable/2.14.0/d3_renderers.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pivottable/2.14.0/c3_renderers.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pivottable/2.14.0/export_renderers.min.js"></script>

    <style>
        body {
            font-family: Verdana;
        }

        .node {
            border: solid 1px white;
            font: 10px sans-serif;
            line-height: 12px;
            overflow: hidden;
            position: absolute;
            text-indent: 2px;
        }

        .c3-line, .c3-focused {
            stroke-width: 3px !important;
        }

        .c3-bar {
            stroke: white !important;
            stroke-width: 1;
        }

        .c3 text {
            font-size: 12px;
            color: grey;
        }

        .tick line {
            stroke: white;
        }

        .c3-axis path {
            stroke: grey;
        }

        .c3-circle {
            opacity: 1 !important;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <i class="fa fa-wrench fa-fw"></i> Query Builder
        </div>
        {#                <div class="panel-body">#}
        <div style="padding-left: 15px">
            <div class="row" style="height: 750px">
                <script type="text/javascript">
                  $(function () {
                    if (window.location != window.parent.location)
                      $("<a>", {target: "_blank", href: ""})
                        .text("[Full Screen]").prependTo($("body"));

                    $("#output").pivotUI(
                      $.csv.toArrays($("#output").text()),
                      {
                        renderers: $.extend(
                          $.pivotUtilities.renderers,
                          $.pivotUtilities.c3_renderers,
                          $.pivotUtilities.d3_renderers,
                          $.pivotUtilities.export_renderers
                        ),
                        hiddenAttributes: [""]
                      }
                    ).show();
                  });
                </script>


                <div id="output" style="display: none;">{
                    rows: ["sex", "smoker"],
                    cols: ["day", "time"],
                    vals: ["tip", "total_bill"],
                    aggregatorName: "Sum over Sum",
                    rendererName: "Heatmap"
                    }
                </div>
            </div>
        </div>
    </div>
{% endblock %}
